<h2>Подбор шин</h2>
<div class="filter-box">
    <div class="body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#auto" aria-controls="auto" role="tab" data-toggle="tab">По марке авто</a></li>
            <li role="presentation"><a href="#size" aria-controls="size" role="tab" data-toggle="tab">По размеру</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="auto">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="brandSelect">Марка авто</label>
                            <select id="brandSelect" class="form-control" style="width: 100%">
                                <option value="">Выберите марку</option>
                                {% for brand in brands %}
                                    <option value="{{ brand.id }}">{{ brand.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="modelSelect">Модель</label>
                            <select id="modelSelect" class="form-control" style="width: 100%" disabled="disabled">
                                {% for model in models %}
                                    <option value="{{ model.id }}">{{ model.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="yearSelect">Год выпуска</label>
                            <select id="yearSelect" class="form-control" style="width: 100%" disabled="disabled">
                                {% for year in years %}
                                    <option value="{{ year.value }}">{{ year.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="modificationSelect">Модификация</label>
                            <select id="modificationSelect" class="form-control" style="width: 100%" disabled="disabled">
                                {% for modification in modifications %}
                                    <option value="{{ modification.id }}">{{ modification.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <button id="button-selection" class="btn btn-default filter-btn" disabled="disabled">Подобрать</button>
                <div id="result" class="row">
                    <div class="col-md-5">
                        <div>Заводская комплектация</div>
                        <div id="variant_tires_factory"></div>
                    </div>
                    <div class="col-md-5">
                        <div>Варианты замены</div>
                        <div id="variant_tires_replacement"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="size">...</div>
        </div>
    </div>
</div>
